<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.equitylabs.refresh</string>
		<string>com.equitylabs.sync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>pk_live_Y2xlcmsuZXF1aXR5bGFicy5hcHAk</string>
</dict>
</plist>
